<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>计算属性</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id="root">
        姓：<input v-model="firstName"/>
        名：<input v-model="lastName"/>
        <div>{{fullName}}</div>
    </div>
    <script>
        new Vue({
            el : "#root",
            data : {
                firstName : "",
                lastName : ""
            },
            computed : {
                fullName : function() {
                    return this.firstName + ' ' + this.lastName;
                }
            }
        })
    </script>
</body>
</html>